.category{
    position: relative;
    display: flex;
    width: 100%;
    margin-bottom: 40px;
}
.cate{
    flex:1;
    padding: 5px;
    background: lightgray;
    margin: 5px;
}
#other{
    background: lightgray;
}
.other-list{
    overflow: hidden;
}
.other{
    float: left;
    width: 250px;
    height: 300px;
    background: lightcyan;
    margin: 20px;
}