#live-sectioner{
    background: url(../img/bg01.png);
    background-size: contain;
}
#live-lobby{
    height: 460px;
}
.star-live{
    width: 60%;
    height: 365px;
    background: gray;
    margin:20px auto;
}
.btn-star-live{
    width: 20%;
    background: gray;
    height: 40px;
    margin: 10px auto;
    cursor: pointer;
}
.area-live{
    margin: 40px auto 60px auto; 
}
.live-lobby{
    background: gray;
    text-align:  center;
    justify-content:  center;
    align-items:  center;
    color: #FFF;
}
.live-lobby-active{
    background: #006eff;
}
.live-lobby-ch{
    border-right: 1px solid #FFF;
    padding: 20px 0;
    cursor: pointer;
}
.live-game>.flex-list{
    margin: 0;
    flex-wrap: wrap;
    padding: 20px 6% 30px 6%;
    margin: 2% 0 0 3.5%
}
.live-game .live-game-ch{
    flex: 0 0 29.3%;
    margin: 2% 0 0% 2%;
    border-radius: 6px;
    overflow: hidden;
    background: #FFF;
    padding: 10px;
    cursor: pointer;
    border: 1px solid lightgray;
}
.live-game .live-game-ch:hover{
    background: #006eff;
    opacity: 0.8;
}
.live-game-ch>.image{
    height: 260px;
    background: lightgray;
    position:  relative;
}
.live-game-ch>.image>.name{
    position:  absolute;
    bottom:  0;
    color:  #FFF;
    font-size:  18px;
    background: rgba(0,0,0,0.5);
    width: 100%;
    padding:  15px 10px;
    text-align:  center;
}
.live-game-ch>.des{
    height: 90px;
    background: #FFF;
    font-size: 15px;
    color:  gray;
    line-height: 25px;
    padding: 10px 5px;
}
.live-game-ch>.des>p{
    opacity: 0.8;
}
.live-game{
    display: none;
}
.live-game-active{
    display: block;
    animation: fade 0.9s ease 1;
}
@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@media only screen and (max-width:1025px){
    .live-game .live-game-ch{
        flex: 0 0 47.999%;
    }
    .live-game>.flex-list{
        margin: 2% 0 0 -2%
    }
    #live-lobby{
        height: 350px;
    }
    .star-live{
        width: 90%;
        height: 240px;
    }
    .btn-star-live{
        width: 70%;
    }
    .live-game>.flex-list{
        border: 0px;
    }
}
@media only screen and (max-width:426px){
    .live-game .live-game-ch{
        flex: 0 0 98.75%;
    }
    .live-game-ch>.des{
        font-size: 14px;
        line-height: 22px;
    }
}