
*{
	font-family:Microsoft JhengHei;
}
li{
	list-style-type: none;
}
a:hover{
	color: #D4B068;
	text-decoration: none;
}
a:visited , a:active , a:link{
	text-decoration: none;
}
::selection {
	background:#D4B068;
	color:#FFF;
}
.jackpotbar{
	position: relative;
	background-image: url(../image/jackpot_bg.jpg);
	overflow: auto;
	font-weight: bold;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 10px 0;
}
.inside{
	text-align: center;
	margin: 3%;
}
.Amountmoney{
	color: #FFF;
}
.mip-vd-tabs-nav{
	background-color: orange;
	padding: 0px;
}
.mip-vd-tabs-nav .mip-vd-tabs-nav-selected{
	border-bottom:0px;
	color:#FFF;
	font-weight: bold;
}
.lotterygame{
	position: relative;
	height: 100%;
	margin: 10px 0;
}
.lotterygame img{
	max-width: 100%;
}

#lotterymask{
	background: rgba(0,0,0,0.5);
	z-index: 99;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	padding: 5% 17%;
	box-sizing: border-box;
}
#lotterymask p{
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	margin: 6% 0;
}
#lotterymask:hover {
	opacity:1;
}
#freeplay{
	color: orange;
	padding: 2%;
	border: 2px solid;
}
#play{
	color: #FFF;
	padding: 2%;
	border: 2px solid;
}
.lotterytitle{
	position: absolute;
	bottom: 0;
	color: #FFF;
	width: 100%;
	font-size: 1em;
	text-align: center;
	background: rgba(0,0,0,0.7);
	padding:2% 0;
}
#lotteyList{
	background: blue;
}
.mip-vd-tabs-nav-li{
	font-size: 1.3em;
	color: #FFF;
}
.bar{
	background: #000;
	height: 75px;
}
.running{
	color: #FFF;
	font-size: 1.5em;
	margin: auto;
	padding:0.5% 0;
}
.running img{
	width: 50px;
	height: 50px;
	display: inline-block;
}
.running marquee{
	display: inline-block;
	width: 80%;
	padding-bottom: 10px;
}
.wrapper{
	background-image:url(../image/logo-dd-125x.png); 
	background-color:#000;
	background-size:150px auto;  
	padding:2%;
}
.Fishing p{
	font-size: 1.5em;
	color: #FFF;
	text-align: center;
	margin: 2% 0;
}
/*BS▽*/
.nav-tabs{
	border: 0;
	background: orange;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	background: transparent;
	border: 0;
}
.nav-tabs>li{
	margin-bottom: -3px;
}
.nav-tabs>li>a{
	border-radius: 0;
}
.nav-tabs>li>a:hover{
	background: transparent;
	border: 0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	background:#444;
	border: 0;
	color: orange;
}
/*BS△*/
.header_nav{
	position: relative;
	width: 100%;
	background: #000;
	color: #FFF;
	padding: 10px 0;
	height: 113px;
}
.header_anim{
	animation:fade 1s;
	animation-iteration-count:1;
	animation-timing-function:linear;
}
@keyframes fade
{
	from {opacity: 0;}
	to {opacity: 1;}
}
.header_nav li{
	float: left;
	font-size: 1.3em;
	margin-right: 20px;
}
.header_nav ul{
	display: none;
	float: right;
	margin-top: 35px;
}
.header_nav a{
	color: #FFF;
}
.header_nav_active{
	border-bottom: 3px solid #D4B068;
}
.header_nav_active a{
	color:  #D4B068;
}
.header_nav a:hover , .weight a:hover{
	color: #D4B068;
}
#flase_head{
	background: #000;
	position: relative;
	height:117px;
}
.container{
	max-width: 1200px;
	overflow: auto;
	margin:auto;
}
#logo{
	display: inline-block;
	float: left;
}
.weight{
	float: left;
	width: 100%;
	margin-right: 3%;
}
#footer_img img{
	width: 120px;
}
.footer{
	padding: 50px 0 20px;
	font-size: 1.1em;
	text-align: center;
}
.footer p{
	margin-bottom: 3px;
	line-height: 1.7em;
	color: #6C6C6C;
}
.footer a{
	color: #6C6C6C;
}
.lottery_choice{
	overflow: auto;
	width: 100%;
	margin: auto;
}
.lottery_choice li{
	float: left;
	color: #FFF;
	margin:30px 12px;
	font-size: 1.2em;
	cursor: pointer;
}
.lottery_choice li:hover{
	color: orange;
}
.gamechoice li{
	width: 100%;
	height: 60px;
	background-position: top center;
}
.con_active{
	color: orange !important;
}
#bt_lottery{
	background-image: url(../image/01.png);
}
#bt_lottery:hover{
	background-image: url(../image/01-b.png);
}
#bt_fruit{
	background-image: url(../image/fruit_show_n.png);
}
#bt_fruit:hover{
	background-image: url(../image/fruit_n.png);
}
#bt_fish{
	background-image: url(../image/fish.png);
}
#bt_fish:hover{
	background-image: url(../image/fish-b.png);
}
/*underline-right*/
.underline-right {
	position: relative;
}

.underline-right:before {
	content: "";
	position: absolute;
	bottom: -3px;
	left: 0;
	right: 100%;
	height: 3px;
	background-color: #D4B068;
	transition-property: right;
	transition-duration: 0.5s;
}

.underline-right:hover:before {
	right: 0;
}
.running marquee{
	margin:0;
	padding: 0;
	vertical-align: middle;
}
.nav-tabs li{
	float: left;
	font-size: 1.3em;
}
.nav-tabs li a{
	color: #FFF;
}
.content{
	position: relative;
	overflow: hidden;
	width: 98%;
	margin: auto;
	margin-top: 10px;
	background: #444444;

}

/*promotion*/
#newsSpecialOffer, #newsBrand , #newsHistory{
	width: 100%;
	margin:auto;
	padding:20px;
}
#newsSpecialOffer p , #newsBrand p ,#newsHistory p{
	font-size: 1.1em;
	color: #FFF;
	margin: 4% 0;
	border-bottom:1px dashed;
}
#newsSpecialOffer p:hover , #newsBrand p:hover ,#newsHistory p:hover{
	color: orange;
}
#newsSpecialOffer p >span , #newsBrand p>span ,#newsHistory p>span{
	font-size: 0.7em;
	float: right;
}
.tab-pane:hover{
	cursor: default;
}
/*about*/
#terms,#contactUs,#aboutUs{
	width: 70%;
	margin: auto;
	font-size: 1.1em;
	padding:40px 20px;
}
#aboutUs{
	text-align: center;
}
#terms p , #aboutUs p {
	color: #FFF;
}
#numF{
	color: yellow;
	font-weight: bold;
}
#numS{
	color:orange;
}
#indent{
	padding-left:20px;
}
#indentS{
	padding-left:45px;
}
#aboutUs h5{
	color: orange;
	font-size: 1.5em;
	font-weight: bold;
}
/*news_list*/
#news-icon{
	float: left;
}
#news-list ul {
	width: 90%;
	height: 55px;
	overflow: hidden;
	color: #FFF;
	display: inline-block;
}
#news-list ul li {
	width: 100%;
	overflow: hidden;
}

#news-list ul li h3 {
	width: 100%;
	height: 400px;
	float: left;
	line-height: 50px;
	font-size: 16px;
	font-weight: 900;
	margin:0;
	padding: 0;
}

#news-list ul li h3 a {
	color:#FFF;
}
#regist{
	border: 1px solid #ff0000;
    background: #ff0000;
    padding: 2px 6px;
}
@media screen and (min-width: 480px) {
	mip-carousel{
		height: 480px;
	}
	.award{
		width: 27.33%;
		float: left;
		margin: 3%;
	}
	.inside{
		overflow: hidden;
		margin:auto;
		width: 62%;
	}
	.lotterygame{
		float: left;
		width: 21%;
		margin: 2%;
	}

}
@media screen and (min-width: 1024px) {
	.weight{
		width: 30.333%;
	}
	.header_nav ul{
		display: initial;
		z-index: 999;
	}
	.lottery_choice li{
		margin: 30px 11px;
	}
	.lottery_choice{
		width: 270px;
	}
	.inside{
		width: 100%;
	}
	.award{
		width: 26%;
		margin: 0 3.5%;
	}
	.range{
		width: 55%;
		float: left;
	}
	.range h3{
		font-size: 1.7em;
	}
	.Amountmoney{
		width: 28%;
		float: left;
		font-size:2.5em;
		margin-top: 17px;
	}
	.content{
		width: 75%;
	}
	.running{
		width: 75%;
	}

}
@media screen and (min-width: 1280px) {
	.inside{
		width: 80%;
	}
	.running marquee{
		width: 94%;
	}
	#newsSpecialOffer, #newsBrand , #newsHistory{
		width: 70%;
	}
}
